<br>
<div class= 'container-fluid'>
  <h1 class="text-center">NUESTRA HISTORIA</h1>
<p>
  Somos una pequeña empresa familiar que se dedica a la producción y venta de productos de pastelería tales como tortas, tartas, de diferentes sabores, colores y modelos creativos e innovadores que se adecuan a los diversos eventos cumpleaños, días festivos y otros eventos logrando satisfacer a los clientes con un rico sabor, decoración e innovación, además buscando la mejor calidad, ya que se utiliza materia prima de origen natural sin conservantes.
  Esta empresa empezó a funcionar a inicios del año 2012 con ventas a familiares, vendiendo productos de pastelería. Hoy cuenta con una gran cartera de clientes, significativo al crecimiento de la empresa.
</p>
<h2 class="text-center">MISION</h2>
<p>
  Elaborar productos de repostería adecuados a las necesidades del cliente con sabores, colores y diseños novedosos, ofrecidos a la venta a través de medios tradicionales y de la web.
</p>
<h3 class="text-center">VISION</h3>
<p>
  Ser una compañía líder de la región en la venta online, de gran prestigio e identificada por su calidad, innovación de productos, eficiencia y cortos tiempos de entrega.
</p>
</div>
