h1{
  font-family: 'Georgia bold';
  font-size: 18pm;
  color: coral;
  }
h2{
  font-family: 'Georgia bold';
  font-size: 18pm;
  color:coral;
  }
h3{
  font-family: 'Georgia bold';
  font-size: 18pm;
  color:coral;
}
p{
  font-family: 'Cambria';
  font-size: 12pm;
  color:black;
}