<h5 class="text-center">PEDIDO</h5>
<form>
  <div class="form-row">
    <div class="form-group">
      <label for="formGroupExampleInput">Nombre </label>
      <br>
      <input type="text-center" class="form-control-center" id="formGroupExampleInput" placeholder="Yamila">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Apellido </label>
      <br>
      <input type="text-center" class="form-control-center" id="formGroupExampleInput" placeholder="Monti">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Telefono: </label>
      <br>
      <input type="text-center" class="form-control-center" id="formGroupExampleInput" placeholder="12345678">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Direccion: </label>
      <br>
      <input type="text-center" class="form-control-center" id="formGroupExampleInput" placeholder="Santa Fe 1234">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Estilo de torta: </label>
      <br>
      <select class="form-control-center" id="exampleFormControlSelect1">
        <option>Infantiles</option>
        <option>Evento</option>
        <option>Boda</option>
        <option>XV años</option>
      </select>
    </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Diseño: </label>
        <br>
        <select class="form-control-center" id="exampleFormControlSelect1">
        <option>Ben10</option>
        <option>Arquitecto</option>
        <option>Clasica</option>
        <option>Fondant especial</option>
        </select>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Cantidad: </label>
        <br>
        <input class="form-control-center" type="text-center" placeholder="1" id="formGroupExampleInput">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Kilos: </label>
        <br>
        <input class="form-control-center" type="text-center" placeholder="2.5 kg." id="formGroupExampleInput">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">¿Desea algun diseño en especial? ò ¿Algun relleno en especial?: </label> 
        <br>           
        <input class="form-control-center" type="text-center" id="formGroupExampleInput" placeholder="Con hojaldre y bizcochuelo">
      </div>
  </div>
  </form>
