<div id="Contenedor">
<br>
<br>
  <div class="row">
    <div class="col-lg-3">
      <!-- Centrar el formulario -->
    </div>
    
    <div class="col-lg-6">
      <div class="card border-danger" >
        <div class="card-header">PEDIDO</div>
        <div class="card-body">
          <form>
          <div class="form-row">
          
            <div class="form-group col-md-6">
              <label for="formGroupExampleInput">Nombre: </label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Yamila">
            </div>
            
            <div class="form-group col-md-6">
              <label for="formGroupExampleInput">Apellido: </label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Monti">
            </div>
          </div>

            <div class="form-row ">
              <div class="form-group col-md-6">
                <label for="formGroupExampleInput">Telefono: </label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="12345678">
              </div>
           
              <div class="form-group col-md-6">
                <label for="formGroupExampleInput">Direccion: </label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Santa Fe 1234">
              </div>
            </div>

            <div class= "form-row">
        
              <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1">Estilo de torta: </label>
                  <select class="form-control" id="exampleFormControlSelect1">
                  <option>Infantiles</option>
                  <option>Evento</option>
                  <option>Boda</option>
                  <option>XV años</option>
                  </select>
              </div>

              <div class="form-group col-md-6">   
                <label for="exampleFormControlSelect1">Diseño: </label>     
                  <select class="form-control" id="exampleFormControlSelect1">
                  <option>Ben10</option>
                  <option>Arquitecto</option>
                  <option>Clasica</option>
                  <option>Fondant especial</option>
                  </select>
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                   <label for="formGroupExampleInput">Cantidad: </label>
                  <input class="form-control" type="text" placeholder="1" id="formGroupExampleInput">
                </div>
            
                <div class="form-group col-md-2">
                  <label for="formGroupExampleInput">Kilos: </label>
                  <input class="form-control" type="text" placeholder="2.5 kg." id="formGroupExampleInput">
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="formGroupExampleInput">¿Desea algun diseño en especial? ó ¿Algun relleno en especial?: </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Con hojaldre y bizcochuelo"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
