<nav class="navbar navbar-expand-lg navbar-light bg-transparent"> 
  <a class="navbar-brand" href="#">
    LA DOLCE VITA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="navarShow = !navarShow">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" 
  [ngClass]="{ 'show': navarShow }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nosotros">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pedidos">Pedidos</a>
      </li>
    </ul>
  </div>
</nav>
<div id="contenedor">
  <img src="https://cdn.jsdelivr.net/gh/YamilaMonti/proyecto-monti@master/src/Imagenes/logo.jpeg">
</div>