/* Add application styles & imports to this file! */
body{
  background-color:rgb(250, 244, 237);
  
}
img{
  background-position: center;
  background-position-x: "50px";
  background-position-y: "100px";
}


